<form action-"../pictures/create" method="post">
    <label for="nazwa">Nazwa: </label>
    <input type="text" id="nazwa" name="nazwa">
    <br>
    <br>
    <label for="rozmiar">Rozmiar: </label>
    <input type="text" id="rozmiar" name="rozmiar">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>